.Resume {
    margin-left: 10em
}

h5 {
    text-align: center;
}
h2 {
    text-align: center;
}
h6 {
    text-align: center;
}
.img src {
    border-color:black 1px;
}

/* tbody {
    display: flex;
} */